/* 默认主题 CSS 变量 https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
    /* 链接颜色 和 鼠标点击时的颜色 */
    --vp-c-brand-1: rgb(22, 96, 22);
    /* 鼠标over时的颜色 */
    --vp-c-brand-2: rgb(11, 80, 11);
    /* brand 未点击时的颜色 */
    --vp-c-brand-3: rgb(22, 124, 22);


    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6b9959, rgb(16, 113, 16));

    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient(135deg, #d8f997 10%, rgb(7, 122, 7) 100%);
    --vp-home-hero-image-filter: blur(150px);
}